html,
  body {
    height: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #container {
    display: flex;
    background-color: rgb(101, 150, 104);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  #game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(24, 82, 27);
    border-bottom: 1px solid rgb(58, 58, 60);
  }
  
  #help {
    color: gainsboro;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 5%;
  }


  #stats {
    color: gainsboro;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 5%;
  }
  
  .title {
    color: gainsboro;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  @media only screen and (max-width: 480px) {
    .title {
      font-size: 1.5rem;
    }
  }
  
  #board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    flex-direction: column;
  }
  
  #final-score {
    color: gainsboro;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }
  
  .square {
    border: 2px solid rgb(58, 58, 60);
    display: inline-block;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    width: 100%;
    display: inline-flex;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: gainsboro;
    text-transform: uppercase;
    user-select: none;
    }

  .square.incorrect-letter {
      background-color: rgb(58, 58, 60);
      border-color: rgb(58, 58, 60);
    }
      
  .square.correct-letter {
    background-color: rgb(181, 159, 59);
    border-color: rgb(181, 159, 59);
  }
      
  .square.correct-letter-in-place {
    background-color: rgb(83, 141, 78);
    border-color: rgb(83, 141, 78);
  }
      
  @media only screen and (max-width: 400px) {
    .square {
      min-width: 15vw;
      min-height: 15vw;
    }
  }

  #keyboard-container {
      height: 200px;
      width: 80%;
      max-width: 500px;
      min-width: fit-content();
      margin-left: auto;
      margin-right: auto;
      align-items: center;
  }

  .keyboard-row {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto 8px;
      touch-action: manipulation;
  }

  .keyboard-row button {
      font-family: inherit;
      font-weight: bold;
      border: 1px solid black;
      padding: 0;
      height: 58px;
      cursor: pointer;
      background-color: rgb(101, 150, 104);
      color: rgb(215, 218, 220);
      flex-grow: 1;
      text-transform: uppercase;
      margin-right: 6px;
      border-radius: 4px;
      user-select: none;
  }

  .keyboard-row button.wide-button {
      flex-grow: 1.5;
  }

  .keyboard-row button.incorrect-letter {
      background-color: rgb(58, 58, 60);
    }
  
  .keyboard-row button.correct-letter {
      background-color: rgb(181, 159, 59);
    }
  
  .keyboard-row button.correct-letter-in-place {
    background-color: rgb(83, 141, 78);
  }
  

  .spacer-half {
      flex-grow: 0.5
  }

  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.7);
    }
  
  .modal-content {
    background-color: rgb(18, 18, 19);
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    color: gainsboro;
    max-width: 500px;
  }
  
  .modal-content hr {
    border: 1px solid rgb(58, 58, 60);
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #examples {
    width: 80%;
  }
  
  .hidden {
    display: none;
  }